/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.button-basic, body .home-section .home-section-wrapper .section-main-information .info-details-div .info-details-btn, body .health .suggestion-div .suggestion-text .read-more-button, body .slider-section .slider-readMore-btn, body .contactUs-section .form-wrapper .registration-form .registration-submit-button, body .cookies-div .accept-btn {
  background: none;
  border: none;
  padding: 5px 2px;
  cursor: pointer;
  text-transform: uppercase;
}

body header .sideNavigation-wrapper .sideNavigation-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #000;
  z-index: 2;
}

body header .sideNavigation-wrapper .sideNavigation {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

body header .sideNavigation-wrapper .sideNavigation .pages {
  margin-top: 30px;
}

body header .sideNavigation-wrapper .sideNavigation .pages > a {
  padding: 8px 8px 8px 32px;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 1px;
  color: #818181;
  text-align: left;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body header .sideNavigation-wrapper .sideNavigation .pages > a:hover {
  color: #f1f1f1;
}

body header .sideNavigation-wrapper .sideNavigation .close-btn {
  position: absolute;
  top: 30px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body header .sideNavigation-wrapper .sideNavigation .close-btn:hover {
  color: #f1f1f1;
}

body .cover-section .parallax-bg {
  background-image: url("../images/cover-image.jpeg");
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

body .cover-section .parallax-bg .cover-wrapper {
  position: relative;
}

body .cover-section .parallax-bg .cover-wrapper .transparent-div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body .cover-section .parallax-bg .cover-wrapper .cover-elements {
  position: relative;
}

body .cover-section .parallax-bg .cover-wrapper .cover-elements .burger-menu-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  padding-top: 30px;
}

body .cover-section .parallax-bg .cover-wrapper .cover-elements .burger-menu-div .empty {
  width: 80%;
}

body .cover-section .parallax-bg .cover-wrapper .cover-elements .burger-menu-div .burger-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cover-section .parallax-bg .cover-wrapper .cover-elements .burger-menu-div .burger-btn .line {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

body .cover-section .parallax-bg .cover-wrapper .cover-elements .img-logo {
  max-width: 360px;
  width: 100%;
  height: auto;
  display: block;
  margin: 60px auto;
}

body .cover-section .parallax-bg .cover-wrapper .cover-elements .heading-1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0px;
  color: #fff;
  text-align: center;
  width: 80%;
  margin: 60px auto;
}

body .cover-section .parallax-bg .cover-wrapper .cover-elements .cover-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: #fff;
  text-align: center;
  width: 70%;
  margin: 0px auto;
}

body .cover-section .parallax-bg .cover-wrapper .cover-elements .img-triangle {
  max-width: 120px;
  width: 100%;
  height: 100px;
  display: block;
  margin: 95px auto;
}

body .home-section .home-section-wrapper .home-section-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

body .home-section .home-section-wrapper .home-section-heading-3 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 1px;
  color: #000;
  text-align: center;
  margin: 30px auto;
  width: 85%;
}

body .home-section .home-section-wrapper .section-main-information {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .home-section .home-section-wrapper .section-main-information .info-details-div {
  width: 426px;
  height: 426px;
}

body .home-section .home-section-wrapper .section-main-information .info-details-div .img-info-details {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

body .home-section .home-section-wrapper .section-main-information .info-details-div .info-details-heading-6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 70px;
}

body .home-section .home-section-wrapper .section-main-information .info-details-div .info-details-heading-5 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0px;
  color: #000;
  text-align: center;
  width: 80%;
  margin: 25px auto;
}

body .home-section .home-section-wrapper .section-main-information .info-details-div .info-details-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: #000;
  text-align: center;
  width: 80%;
  margin: 0px auto;
}

body .home-section .home-section-wrapper .section-main-information .info-details-div .info-details-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000;
  border-bottom: 2px solid #000;
  display: block;
  margin: 50px auto;
}

body .home-section .home-section-wrapper .section-main-information .info-details-div .info-details-btn:hover {
  border-bottom: 2px solid #a59797;
  color: #a59797;
}

@media (min-width: 540px) and (max-width: 920px) {
  body .home-section .home-section-wrapper .section-main-information .info-details-div {
    width: 100%;
    height: 426px;
  }
}

@media (max-width: 600px) {
  body .home-section .home-section-wrapper .home-section-heading-3 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 1px;
    color: #000;
    text-align: center;
  }
}

body .menu-section {
  background-color: #f2f2f2;
  padding-top: 80px;
}

body .menu-section .menu-section-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

body .menu-section .menu-section-heading-3 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0px;
  color: #000;
  text-align: center;
  margin-bottom: 50px;
}

body .menu-section .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 80%;
  margin: 20px auto;
}

body .menu-section .menu-wrapper .menu-div {
  width: 40%;
  margin-bottom: 50px;
}

body .menu-section .menu-wrapper .menu-div .menu-section-h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: #414044;
  text-align: center;
  margin-bottom: 20px;
}

body .menu-section .menu-wrapper .menu-div .dish-ingredients {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #414044;
  text-align: center;
}

body .menu-section .menu-section-cover {
  position: relative;
  background-image: url("../images/menu-section-bg.jpg");
  min-height: 740px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .menu-section .menu-section-cover .menu-section-cover-wrapper {
  position: absolute;
  width: 45%;
  height: auto;
  top: 120px;
  right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu-section .menu-section-cover .menu-section-cover-wrapper .menu-section-cover-boxes {
  position: relative;
  width: 180px;
  height: 200px;
  margin-bottom: 20px;
  cursor: pointer;
}

body .menu-section .menu-section-cover .menu-section-cover-wrapper .menu-section-cover-boxes .transparent-box {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 180px;
  height: 200px;
}

body .menu-section .menu-section-cover .menu-section-cover-wrapper .menu-section-cover-boxes .box-elements {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .menu-section .menu-section-cover .menu-section-cover-wrapper .menu-section-cover-boxes .box-elements .menu-box-svg {
  width: 50px;
  height: 50px;
  fill: #fff;
  display: block;
  margin-bottom: 20px;
}

body .menu-section .menu-section-cover .menu-section-cover-wrapper .menu-section-cover-boxes .box-elements > h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
}

body .menu-section .menu-section-cover .menu-section-cover-wrapper .menu-section-cover-boxes .box-elements:hover .menu-box-svg {
  fill: #a59797;
}

@media (max-width: 320px) {
  body .menu-section .menu-section-cover .menu-section-cover-wrapper {
    width: 100%;
    top: 60px;
    right: 0px;
    height: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  body .menu-section .menu-section-cover .menu-section-cover-wrapper .menu-section-cover-boxes {
    width: 120px;
    height: 120px;
  }
  body .menu-section .menu-section-cover .menu-section-cover-wrapper .menu-section-cover-boxes .transparent-box {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  body .menu-section .menu-section-cover .menu-section-cover-wrapper {
    width: 90%;
    top: 40px;
    right: 0px;
    height: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  body .menu-section .menu-section-cover .menu-section-cover-wrapper .menu-section-cover-boxes {
    width: 150px;
    height: 170px;
  }
  body .menu-section .menu-section-cover .menu-section-cover-wrapper .menu-section-cover-boxes .transparent-box {
    width: 150px;
    height: 170px;
  }
}

@media (min-width: 768px) and (max-width: 1124px) {
  body .menu-section .menu-section-cover .menu-section-cover-wrapper {
    width: 50%;
    top: 20px;
    right: 20px;
    height: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  body .menu-section .menu-wrapper .menu-div {
    width: 80%;
    margin-bottom: 50px;
  }
}

body .banner-section {
  margin: 50px auto;
}

body .banner-section .banner-section-wrapper {
  position: relative;
}

body .banner-section .banner-section-wrapper .banner-cover {
  height: 200px;
  width: 90%;
  margin: 0px auto;
  background-image: url("../images/banner-img.png");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border: 2px solid grey;
  -webkit-box-shadow: 20px 20px 100px grey;
  box-shadow: 20px 20px 100px grey;
}

body .banner-section .banner-section-wrapper .banner-close {
  position: absolute;
  top: -20px;
  right: 70px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

body .banner-section .banner-section-wrapper .banner-close:hover {
  color: #a59797;
}

body .banner-section .banner-section-wrapper.hide {
  display: none;
}

@media (max-width: 767px) {
  body .banner-section .banner-section-wrapper .banner-cover {
    height: 120px;
  }
  body .banner-section .banner-section-wrapper .banner-close {
    top: -15px;
    right: 40px;
    font-size: 24px;
  }
}

body .events-section .section-wrapper .events-section-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
  margin-top: 90px;
}

body .events-section .section-wrapper .events-section-heading-3 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0px;
  color: #000;
  text-align: center;
  margin-top: 30px;
}

body .events-section .section-wrapper .events-wrapper {
  margin: 40px auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .events-section .section-wrapper .events-wrapper .events {
  width: 320px;
  height: 310px;
  margin-top: 40px;
}

body .events-section .section-wrapper .events-wrapper .events .event-day {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}

body .events-section .section-wrapper .events-wrapper .events .event-month {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

body .events-section .section-wrapper .events-wrapper .events .event-description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #414044;
  text-align: center;
  width: 90%;
  margin: 0px auto;
}

body .events-section .section-wrapper .load-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .events-section .section-wrapper .load-buttons .load-previews-btn {
  display: none;
}

body .events-section .section-wrapper .load-buttons .load-more-btn, body .events-section .section-wrapper .load-buttons .load-previews-btn {
  font-size: 24px;
  cursor: pointer;
  margin: 30px;
}

@media (max-width: 768px) {
  body .events-section .section-wrapper .events-section-heading-3 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0px;
    color: #000;
    text-align: center;
    margin-top: 30px;
    padding: 5px;
  }
  body .events-section .section-wrapper .events-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .events-section .section-wrapper .events-wrapper .events {
    width: 90%;
    height: auto;
  }
}

body .health {
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 50px;
}

body .health .suggestion-div {
  width: 85%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .health .suggestion-div .suggestion-text {
  width: 40%;
  margin-top: 60px;
}

body .health .suggestion-div .suggestion-text .suggestion-text-heading {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: 0px;
  color: #000;
  text-align: left;
  margin-bottom: 20px;
}

body .health .suggestion-div .suggestion-text .text-pragraph-1, body .health .suggestion-div .suggestion-text .text-pragraph-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #414044;
  text-align: left;
  width: 85%;
  margin-bottom: 30px;
}

body .health .suggestion-div .suggestion-text .read-more-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  color: #414044;
  border-bottom: 2px solid #414044;
}

body .health .suggestion-div .suggestion-text .read-more-button:hover {
  border-bottom: 2px solid #a59797;
  color: #a59797;
}

body .health .suggestion-div .suggestion-img {
  width: 50%;
}

body .health .suggestion-div .suggestion-img > img {
  width: 100%;
  height: 540px;
  -o-object-fit: cover;
  object-fit: cover;
}

body .health .health-section-reviews-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 85%;
  margin: 120px auto 0px;
}

body .health .health-section-reviews-div .section-reviews-img {
  width: 50%;
}

body .health .health-section-reviews-div .section-reviews-img > img {
  width: 100%;
  height: 585px;
  -o-object-fit: cover;
  object-fit: cover;
}

body .health .health-section-reviews-div .health-section-reviews-text {
  width: 40%;
}

body .health .health-section-reviews-div .health-section-reviews-text > h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3px;
  color: #000;
  text-align: left;
  margin-top: 60px;
}

body .health .health-section-reviews-div .health-section-reviews-text > h3 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: 0px;
  color: #000;
  text-align: left;
  margin-top: 30px;
}

body .health .health-section-reviews-div .health-section-reviews-text > i {
  font-size: 48px;
  font-weight: bold;
  color: #000;
  margin-top: 30px;
}

body .health .health-section-reviews-div .health-section-reviews-text > p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #414044;
  text-align: left;
  margin-top: 20px;
}

@media (max-width: 768px) {
  body .health .suggestion-div {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .health .suggestion-div .suggestion-text {
    width: 90%;
    margin-bottom: 50px;
  }
  body .health .suggestion-div .suggestion-img {
    width: 100%;
  }
  body .health .health-section-reviews-div {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .health .health-section-reviews-div .section-reviews-img {
    width: 100%;
  }
  body .health .health-section-reviews-div .health-section-reviews-text {
    padding: 10px;
    width: 90%;
  }
  body .health .health-section-reviews-div .health-section-reviews-text > p {
    width: 80%;
  }
}

body .slider-section .slider-section-heading {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0px;
  color: #000;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 768px) {
  body .slider-section .slider-section-heading {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1px;
    color: #000;
    text-align: center;
  }
}

body .slider-section .slider-section-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #414044;
  text-align: center;
  margin-top: 20px;
}

body .slider-section .slider-wrapper {
  position: relative;
}

body .slider-section .slider-wrapper .arrow-btn {
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  top: 40%;
}

body .slider-section .slider-wrapper .arrow-btn:hover {
  opacity: 0.6;
}

body .slider-section .slider-wrapper .arrow-left {
  left: 50px;
}

body .slider-section .slider-wrapper .arrow-right {
  right: 50px;
}

body .slider-section .slider-wrapper .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin: 50px auto;
}

body .slider-section .slider-wrapper .slider .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

body .slider-section .slider-wrapper .slider .slider-content .slider-image {
  width: 310px;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .slider-section .slider-wrapper .slider .slider-content .slider-image:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

body .slider-section .slider-wrapper .slider .dots-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .slider-section .slider-wrapper .slider .dots-wrapper .sliderDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b3b3b3;
  margin: 5px;
  cursor: pointer;
}

body .slider-section .slider-wrapper .slider .dots-wrapper .sliderDot.active {
  background-color: darkred;
}

@media (min-width: 600px) and (max-width: 1024px) {
  body .slider-section .slider-wrapper .slider .slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .slider-section .slider-wrapper .slider .slider-content .slider-image {
    width: 310px;
    height: 360px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  body .slider-section .slider .slider-content .slider-image {
    width: 100%;
    margin-bottom: 20px;
  }
  body .slider-section .slider-wrapper .arrow-btn {
    font-size: 30px;
  }
  body .slider-section .slider-wrapper .arrow-left {
    left: 10px;
  }
  body .slider-section .slider-wrapper .arrow-right {
    right: 10px;
  }
}

body .slider-section .slider-readMore-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  color: #414044;
  border-bottom: 2px solid #414044;
  display: block;
  margin: 40px auto;
}

body .slider-section .slider-readMore-btn:hover {
  border-bottom: 2px solid #a59797;
  color: #a59797;
}

body .image-grid-section .image-grid {
  width: 85%;
  margin: 70px auto;
  padding: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 8px;
}

body .image-grid-section .image-grid > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

body .image-grid-section .image-grid-column-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

body .image-grid-section .image-grid-row-2 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

body .everyday-cook-statistic-section .statistics-section-wrapper {
  width: 80%;
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .everyday-cook-statistic-section .statistics-section-wrapper .main-dish, body .everyday-cook-statistic-section .statistics-section-wrapper .garnish, body .everyday-cook-statistic-section .statistics-section-wrapper .desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .everyday-cook-statistic-section .statistics-section-wrapper .main-dish .cooking-section-svg, body .everyday-cook-statistic-section .statistics-section-wrapper .garnish .cooking-section-svg, body .everyday-cook-statistic-section .statistics-section-wrapper .desserts .cooking-section-svg {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

body .everyday-cook-statistic-section .statistics-section-wrapper .main-dish .value, body .everyday-cook-statistic-section .statistics-section-wrapper .garnish .value, body .everyday-cook-statistic-section .statistics-section-wrapper .desserts .value {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: 0px;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}

body .everyday-cook-statistic-section .statistics-section-wrapper .main-dish > h6, body .everyday-cook-statistic-section .statistics-section-wrapper .garnish > h6, body .everyday-cook-statistic-section .statistics-section-wrapper .desserts > h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 4px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

body .everyday-cook-statistic-section .statistics-section-wrapper .everyday-cook {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #000;
}

body .everyday-cook-statistic-section .statistics-section-wrapper .everyday-cook > h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
  margin: 100px auto;
}

@media (max-width: 768px) {
  body .everyday-cook-statistic-section .cooking-section-wrapper .main-dish, body .everyday-cook-statistic-section .cooking-section-wrapper .garnish, body .everyday-cook-statistic-section .cooking-section-wrapper .desserts {
    width: 50%;
  }
}

@media (max-width: 600px) {
  body .everyday-cook-statistic-section .cooking-section-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .everyday-cook-statistic-section .cooking-section-wrapper .main-dish, body .everyday-cook-statistic-section .cooking-section-wrapper .garnish, body .everyday-cook-statistic-section .cooking-section-wrapper .desserts {
    margin-bottom: 30px;
    width: 70%;
  }
  body .everyday-cook-statistic-section .cooking-section-wrapper .everyday-cook {
    width: 220px;
    height: 220px;
  }
}

body .contactUs-section .contactUs-section-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

body .contactUs-section .contactUs-section-h3 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: 0px;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

body .contactUs-section .form-wrapper {
  width: 45%;
  margin: 0px auto 50px;
}

body .contactUs-section .form-wrapper .registration-form .registration-inputs {
  width: 100%;
  height: 50px;
  border: 1px solid #b9b9b9;
  padding: 8px;
}

body .contactUs-section .form-wrapper .registration-form .registration-inputs::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  color: #888888;
  text-align: left;
}

body .contactUs-section .form-wrapper .registration-form .registration-inputs:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  color: #888888;
  text-align: left;
}

body .contactUs-section .form-wrapper .registration-form .registration-inputs::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  color: #888888;
  text-align: left;
}

body .contactUs-section .form-wrapper .registration-form .registration-inputs::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  color: #888888;
  text-align: left;
}

body .contactUs-section .form-wrapper .registration-form .input-labeles {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  color: #1a1919;
  text-align: left;
}

body .contactUs-section .form-wrapper .registration-form .fName-div, body .contactUs-section .form-wrapper .registration-form .lName-div, body .contactUs-section .form-wrapper .registration-form .email-div, body .contactUs-section .form-wrapper .registration-form .password-div, body .contactUs-section .form-wrapper .registration-form .repeat-password-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .contactUs-section .form-wrapper .registration-form .fullName-inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

body .contactUs-section .form-wrapper .registration-form .fullName-inputs-wrapper .fName-div, body .contactUs-section .form-wrapper .registration-form .fullName-inputs-wrapper .lName-div {
  width: 48%;
}

body .contactUs-section .form-wrapper .registration-form .email-div, body .contactUs-section .form-wrapper .registration-form .password-div, body .contactUs-section .form-wrapper .registration-form .repeat-password-div {
  width: 100%;
  margin-top: 10px;
}

body .contactUs-section .form-wrapper .registration-form .password-div {
  position: relative;
}

body .contactUs-section .form-wrapper .registration-form .show-hide-password-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #1a1919;
}

body .contactUs-section .form-wrapper .registration-form .terms-and-conditions-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

body .contactUs-section .form-wrapper .registration-form .terms-and-conditions-div .radio-buttons, body .contactUs-section .form-wrapper .registration-form .terms-and-conditions-div .check-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

body .contactUs-section .form-wrapper .registration-form .terms-and-conditions-div .radio-btns-title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  color: #1a1919;
  text-align: left;
  margin-bottom: 10px;
}

body .contactUs-section .form-wrapper .registration-form .registration-submit-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000;
  border: 2px solid #000;
  padding: 15px 30px;
  display: block;
  margin: 50px auto 70px;
}

body .contactUs-section .form-wrapper .registration-form .registration-submit-button:hover {
  background-color: #000;
  color: #fff;
}

body .contactUs-section .form-wrapper .registration-form .error-text {
  color: #da3d3d;
  font-size: 16px;
  font-style: italic;
  display: block;
}

@media (max-width: 768px) {
  body .contactUs-section .form-wrapper {
    width: 90%;
  }
  body .contactUs-section .form-wrapper .registration-inputs {
    margin-bottom: 15px;
  }
}

body .our-addresses-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .our-addresses-section .search-block {
  margin-bottom: 20px;
}

body .our-addresses-section .search-block > h6 {
  display: inline;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #888888;
  text-align: left;
}

body .our-addresses-section .search-block #filter {
  width: 200px;
  height: 40px;
  border: 1px solid #b9b9b9;
  padding: 8px;
}

body .our-addresses-section .address-section-wrapper {
  background-image: url("../images/map.png");
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0px auto;
  padding: 20px;
  height: auto;
}

body .our-addresses-section .address-section-wrapper .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 200px;
  height: 150px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 20px 20px 50px grey;
  box-shadow: 20px 20px 50px grey;
}

body .our-addresses-section .address-section-wrapper .address .address-icon {
  color: #464141;
  font-size: 16px;
  margin-right: 5px;
}

body .our-addresses-section .address-section-wrapper .address .address-icon:hover {
  color: darkred;
}

body .our-addresses-section .address-section-wrapper .address .addresses-text, body .our-addresses-section .address-section-wrapper .address .name-text, body .our-addresses-section .address-section-wrapper .address .phone-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #888888;
  text-align: left;
}

body .our-addresses-section .address-section-wrapper .address.hide {
  display: none;
}

body footer .footer-wrapper {
  width: 100%;
  height: 250px;
  background-color: #333333;
}

body footer .footer-wrapper .social-network-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

body footer .footer-wrapper .social-network-div > a {
  margin: 20px;
  color: #fff;
  font-size: 24px;
}

body footer .footer-wrapper .social-network-div > a:hover {
  color: #5593cd;
}

body footer .footer-wrapper .footer-content > p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #fff;
  text-align: center;
  width: 40%;
  margin: 0px auto;
}

@media (max-width: 768px) {
  body footer .footer-wrapper {
    height: 240px;
  }
  body footer .footer-wrapper .social-network-div {
    padding: 5px;
  }
  body footer .footer-wrapper .footer-content > p {
    width: 70%;
    padding: 10px;
  }
}

body .cookies-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 200px;
  background-color: #a19f9f;
  position: fixed;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 20px;
  -webkit-box-shadow: 40px 40px 120px #a19f9f;
  box-shadow: 40px 40px 120px #a19f9f;
}

body .cookies-div > h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0px;
  color: #fff;
  text-align: center;
}

body .cookies-div > p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #fff;
  text-align: center;
  width: 75%;
  margin: 0px auto;
}

body .cookies-div .accept-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000;
  border: 2px solid #000;
  display: block;
  padding: 10px;
  margin: 20px auto;
}

body .cookies-div .accept-btn:hover {
  background-color: #000;
  color: #fff;
}

body .cookies-div.hide {
  display: none;
}

@media (max-width: 768px) {
  body .cookies-div {
    width: 90%;
    height: auto;
  }
  body .cookies-div > h5 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  body .cookies-div > p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: #fff;
    text-align: center;
  }
}
/*# sourceMappingURL=global.css.map */