@mixin  display-flex ($direction: row, $justify: space-between, $align: center) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin  transition-ease-in-out {
    transition: all 0.5s ease-in-out;  
}
@mixin text-style ($family, $size, $style, $weight, $height, $spacing, $color, $align) {
    font-family: $family;
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
    color: $color;
    text-align: $align;
}
@mixin set-background-image ($url, $height, $position, $repeat, $size, $attachment){
    background-image: $url;
    min-height: $height;
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
    background-attachment: $attachment;
}