body {
    // background-color: gray;
header {
    .sideNavigation-wrapper {
        .sideNavigation-bg {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0;
            display: none;
            transition: 0.5s;
            background-color: #000;
            z-index: 2;
        }
        .sideNavigation {
            height: 100vh;
            width: 0;
            position: fixed;
            z-index: 3;
            top: 0;
            left: 0;
            background-color: $sideNavigation-BG;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;

            .pages {
                margin-top: 30px;
                & > a {
                    padding: 8px 8px 8px 32px;
                    @include text-style($Playfair-Display-font, $navigation-link-size, normal, 300, $navigation-link-size, 1px, $navigation-color, left);
                    display: block;
                    transition: 0.3s;
                    &:hover {
                        color: $navigation-hover;
                    }
                }
            }
            .close-btn {
                position: absolute;
                top: 30px;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
                color: $navigation-color;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                    color: $navigation-hover;
                }
            }
        }
    }
}

.cover-section {
    .parallax-bg {
        // background-image: url("../images/cover-image.jpeg");
        // min-height: 800px;
        // background-attachment: fixed;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        @include set-background-image (url("../images/cover-image.jpeg"), 800px, center, no-repeat, cover, fixed);
        position: relative;

        .cover-wrapper {
            position: relative;
            .transparent-div {
                position: absolute;
                width: 100%;
                // min-height: 800px;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
            }
            .cover-elements {
                position: relative;
                .burger-menu-div {
                    @include display-flex;
                    width: 95%;
                    padding-top: 30px;
                    .empty {
                        width: 80%;
                    }
                    .burger-btn {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        @include display-flex(column, space-around, center);
                        .line {
                            width: 100%;
                            height: 3px;
                            background-color: #fff;
                        }
                    }
                }
                .img-logo {
                    max-width: 360px;
                    width: 100%;
                    height: auto;
                    display: block;
                    margin: 60px auto;
                }
                .heading-1 {
                    @include text-style($Playfair-Display-font, $heading-1-size, normal, bold, $heading-1-size, 0px, #fff, center);
                    width: 80%;
                    margin: 60px auto;
                }
                .cover-text {
                    @include text-style($Open-Sans, $paragraph-size-01, normal, 400, 26px, 0px, #fff, center);
                    width: 70%;
                    margin: 0px auto;
                }
                .img-triangle {
                    max-width: 120px;
                    width: 100%;
                    height: 100px;
                    display: block;
                    margin: 95px auto;
                }
            }
        }
    }
} 
.home-section {
    .home-section-wrapper {
        .home-section-heading {
            @include text-style($Open-Sans, $heading-6-size, normal, 500, $heading-6-size, 3px, #000, center);
            text-transform: uppercase;
        }
        .home-section-heading-3 {
            @include text-style($Playfair-Display-font, $heading-3-size, normal, 500, 60px, 1px, #000, center);
            margin: 30px auto;
            width: 85%;
        }
        .section-main-information {
            margin-top: 90px;
            @include display-flex(row, space-between, center);;
            .info-details-div {
                width: 426px;
                height: 426px;
                .img-info-details {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .info-details-heading-6 {
                    @include text-style($Open-Sans, $heading-6-size, normal, 400, $heading-6-size, 3px, #000, center);
                    text-transform: uppercase;
                    margin-top: 70px;
                }
                .info-details-heading-5 {
                    @include text-style($Playfair-Display-font, $heding-5-size, normal, bold, 30px, 0px, #000, center);
                    width: 80%;
                    margin: 25px auto;
                }
                .info-details-text {
                    @include text-style($Open-Sans, $paragraph-size-01, normal, 400, 25px, 0px, #000, center);
                    width: 80%;
                    margin: 0px auto;
                }
                .info-details-btn {
                    @extend .button-basic;
                    @include text-style($Open-Sans, $btn-text-size, normal, 400, 16px, 2px, #000, null);
                    border-bottom: 2px solid #000;
                    display: block;
                    margin: 50px auto;
                 &:hover {
                    border-bottom: 2px solid $hover-color;
                    color: $hover-color;
                }
                }
            }
        }
    }
}
// end of Home section and start Menu section
.menu-section {
    background-color: $menu-section-bg;
    padding-top: 80px;
    .menu-section-heading {
        @include text-style($Open-Sans, $heading-6-size, normal, 500, 20px, 3px, #000, center);
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .menu-section-heading-3 {
        @include text-style($Playfair-Display-font, $heading-3-size, normal, bold, $heading-3-size, 0px, #000, center);
        margin-bottom: 50px;
    }
    .menu-wrapper {
        @include display-flex(row, space-around, start);
        width: 80%;
        margin: 20px auto;
        .menu-div {
            width: 40%;
            padding-bottom: 80px;
            .menu-section-h6 {
                @include text-style($Open-Sans, $heading-6-size, normal, 400, $heading-6-size, 2px, $menu-section-text-color, center);
                margin-bottom: 20px;
            }
            .dish-ingredients {
                @include text-style($Open-Sans, $paragraph-size-01, normal, 400, 30px, 0px, $menu-section-text-color, center);

            }
        }
    }
    .menu-section-bg {
        position: relative;
        @include set-background-image (url("../images/menu-section-bg.jpg"), 740px, center, no-repeat, cover, null);
        .menu-section-bg-wrapper {
            position: absolute;
            width: 45%;
            height: auto;
            top: 120px;
            right: 70px;
            @include display-flex;
            .menu-section-cover-box {
                position: relative;
                width: 180px;
                height: 200px;
                margin-bottom: 20px;
                cursor: pointer;
                .transparent-box {
                    position: absolute;
                    background-color: #000;
                    opacity: 0.5;
                    width: 180px;
                    height: 200px;
                }
                .box-elements {
                    position: relative;
                    padding-top: 40px;
                    height: 100%;
                    .box-head {
                        .menu-box-svg {
                            width: 50px;
                            height: 50px;
                            fill: #fff;
                            display: block;
                            margin: 0px auto 20px;
                        }
                    }
                    .box-body {
                        & > h6 {
                            @include text-style($Open-Sans, $heading-6-size, normal, bold, $heading-6-size, 1px, #fff, center);
                        }
                    }
                &:hover {
                    .menu-box-svg {
                        fill: $hover-color;
                    }
                }
                }
            }
        }
    }
}
// Events Section
.events-section {
    .section-wrapper {
        .events-section-heading {
            @include text-style($Open-Sans, $heading-6-size, normal, 500, $heading-6-size, 3px, #000, center);
            margin-top: 90px;
        }
        .events-section-heading-3 {
            @include text-style($Playfair-Display-font, $heading-3-size, normal, bold, $heading-3-size, 0px, #000, center);
            margin-top: 30px;
        }
        .events-wrapper {
            margin: 40px auto;
            width: 90%;
            @include display-flex(row, space-around, center);
            .events {
                width: 320px;
                height: 300px;
                margin-top: 40px;
                .event-day {
                    @include text-style($Open-Sans, $heading-3-size, normal, bold, $heading-3-size, 3px, #000, center);
                    margin-bottom: 10px;
                }
                .event-month {
                    @include text-style($Open-Sans, $heading-6-size, normal, 500, $heading-6-size, 3px, #000, center);
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
                .event-description {
                    @include text-style($Open-Sans, $paragraph-size-01, normal, 400, 30px, 0px, $menu-section-text-color, center);
                    width: 90%;
                    margin: 0px auto;
                }
            }
        }
        .load-buttons {
            @include display-flex (row, center, center);
            .load-previews-btn {
                display: none;
            }
            .load-more-btn, .load-previews-btn {
                font-size: 24px;
                cursor: pointer;
                margin: 30px;
            }
        }
    }   
}
// end of Events Section
.health {
    background-color: $menu-section-bg;
    padding-top: 80px;
    padding-bottom: 50px;
    .suggestion-div {
        width: 85%;
        margin: 0px auto;
        @include display-flex;
        .suggestion-text {
            width: 40%;
            margin-top: 60px;
            .suggestion-text-heading {
                @include text-style($Playfair-Display-font, $heading-3-size, normal, bold, 55px, 0px, #000, left);
                margin-bottom: 20px;
            }
            .text-pragraph-1, .text-pragraph-2 {
                @include text-style($Open-Sans, $paragraph-size-01, normal, 400, 30px, 0px, $menu-section-text-color, left);
                width: 85%;
                margin-bottom: 30px;
            }
            .read-more-button {
                @extend .button-basic;
                @include text-style($Open-Sans, $btn-text-size, normal, 400, 16px, 2px, $menu-section-text-color, null);
                border-bottom: 2px solid $menu-section-text-color;
                &:hover {
                border-bottom: 2px solid $hover-color;
                color: $hover-color;
            }
            }
        }
        .suggestion-img {
           width: 50%;
            & > img {
                width: 100%;
                height: 540px;
                object-fit: cover;
            }
        }
    }
    .health-section-reviews {
        @include display-flex (row, space-between, start);
        width: 85%;
        margin: 120px auto 0px;
        .section-reviews-img {
            width: 50%;
            & > img {
                width: 100%;
                height: 585px;
                object-fit: cover;
            }
        }
        .health-section-reviews-text {
            width: 40%;
            & > h6 {
                @include text-style($Open-Sans, $heading-6-size, normal, 500, $heading-6-size, 3px, #000, left);
                margin-top: 60px;
            }
            & > h3 {
                @include text-style($Playfair-Display-font, $heading-3-size, normal, bold, 55px, 0px, #000, left);
                margin-top: 30px;
            }
            & > i {
                font-size: 48px;
                font-weight: bold;
                color: #000;
                margin-top: 30px;
            }
            & > p {
                @include text-style($Open-Sans, $paragraph-size-01, normal, 400, 30px, 0px, $menu-section-text-color, left);
                margin-top: 20px;
            }
        }
    }
}
// Start of Slider Section
.slider-section {
    .slider-section-heading {
        @include text-style($Playfair-Display-font, $heading-3-size, normal, bold, $heading-3-size, 0px, #000, center);
        margin-top: 50px;
    }
    .slider-section-text {
        @include text-style($Open-Sans, $paragraph-size-01, normal, 400, 30px, 0px, $menu-section-text-color, center);
        margin-top: 20px;
    }
    .slider-wrapper {
        position: relative;
        height: 400px;
        .arrow-btn {
            position: absolute;
            font-size: 50px;
            cursor: pointer;
            top: 40%;
            &:hover {
                opacity: 0.6;
            }
        }
        .arrow-left {
            left: 50px;
        }
        .arrow-right {
            right: 50px;
        }
        .slider-content {
            width: 75%;
            margin: 70px auto;
            @include display-flex (row, space-around, center);
            .slider-image {
                width: 310px;
                height: 360px;
                background-repeat: no-repeat;
                background-size: cover;
                @include transition-ease-in-out;
                &:hover {
                    filter: brightness(70%);
                }
            }
            .dots-wrapper {
                display: flex;
                position: absolute;
                left: 50%;
                bottom: 5px;
            }
            .sliderDot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $dots-color;
                margin: 5px;
                cursor: pointer;
            }
            .sliderDot.active {
                background-color: yellow;
            }
        }
    }
    .slider-readMore-btn {
        @extend .button-basic;
            @include text-style($Open-Sans, $btn-text-size, normal, 400, 16px, 2px, $menu-section-text-color, null);
            border-bottom: 2px solid $menu-section-text-color;
            display: block;
            margin: 40px auto;
            &:hover {
            border-bottom: 2px solid $hover-color;
            color: $hover-color;
        }
    }
}
// end of Slider Section
.image-grid-section {
    .image-grid {
        width: 85%;
        margin: 70px auto;
        padding: $image-grid-gap;
        display: grid;
        grid-template-columns: repeat($image-grid-num-cols, 1fr);
        grid-auto-rows: $image-grid-row-height;
        gap: $image-grid-gap;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .image-grid-column-2 {
        grid-column: span 2;
    }
    .image-grid-row-2 {
        grid-row: span 2;
    }
}
// end of Image Grid Section
.everyday-cook-section {
    .cooking-section-wrapper {
        width: 80%;
        margin: 150px auto;
        @include display-flex(row, space-around, center);
        .main-dish, .garnish, .desserts {
            @include display-flex(column, center, center);
            .cooking-section-svg {
                width: 60px;
                height: 60px;
                margin-bottom: 30px;
            }
        & > h3 {
            @include text-style($Playfair-Display-font, $heading-3-size, normal, bold, 55px, 0px, #000, center);
            margin-bottom: 30px;
        } 
        & > h6 {
            @include text-style($Open-Sans, $heading-6-size, normal, 400, 22px, 4px, #000, center);
            text-transform: uppercase;
        }   
        }
        .everyday-cook {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background-color: #000;
            & > h6 {
                @include text-style($Open-Sans, $heading-6-size, normal, 500, 22px, 3px, #fff, center);
                text-transform: uppercase;
                width: 120px;
                margin: 100px auto;
            }
        } 
    }
}
// Contact Us Section
.contactUs-section {
    .contactUs-section-heading {
        @include text-style($Open-Sans, $heading-6-size, normal, 500, 22px, 3px, #000, center);
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .contactUs-section-h3 {
        @include text-style($Playfair-Display-font, $heading-3-size, normal, bold, 55px, 0px, #000, center);
        margin-bottom: 40px;
    }
    .form-wrapper {
        width: 45%;
        margin: 0px auto 50px; 
        .registration-form {
            .registration-inputs {
                width: 100%;
                height: 100%;
                border: solid 1px $form-border-color;
                padding: 8px;
                cursor: pointer;
                &::placeholder {
                    @include text-style ($Open-Sans, 16px, normal, 400, 16px, 0px, $form-text-color, left);
                }
            }
            .input-labeles {
                @include text-style ($Open-Sans, 16px, normal, 400, 16px, 0px, $input-labels-text-color, left);
            }
            .fullName-inputs-wrapper {
                @include display-flex;
                .fName-div, .lName-div {
                    width: 48%;
                    height: 50px;
                }
            }
            .email-div, .password-div, .repeat-password-div {
                width: 100%;
                height: 50px;
                margin-top: 10px;
            }
            .password-div {
                position: relative;
            }
            .show-hide-password {
                position: absolute;
                right: 15px;
                top: 15px;
                color: rgb(26, 25, 25);
            }
            .terms-and-conditions-div {
                @include display-flex(row, space-between, top);
                .radio-buttons, .check-box {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .radio-btns-title {
                    @include text-style($Open-Sans, $heading-6-size, normal, 500, $heading-6-size, 0px, $input-labels-text-color, left);
                    margin-bottom: 10px;
                }
            }
            .registration-submit-button {
                @extend .button-basic;
                @include text-style($Open-Sans, $btn-text-size, normal, bold, 16px, 2px, #000, null);
                border: 2px solid #000;
                padding: 15px 30px;
                display: block;
                margin: 50px auto 70px;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}
// Footer Section
footer {
    width: 100%;
    height: 250px;
    background-color: $footer-bg-color;
    .social-network-div {
        @include display-flex(row, center, center);
        padding: 20px;
        & > a {
            margin: 20px;
            color: #fff;
            font-size: 24px;
            &:hover {
                color: $social-network-hover-color;
            }
        }
    }
    .footer-content {
        & > p {
            @include text-style($Open-Sans, $paragraph-size-01, normal, 400, 30px, 0px, #fff, center);
            width: 40%;
            margin: 10px auto;
        }
    }
}
}
