body {
    // background-color: gray;
header {
    .sideNavigation-wrapper {
        .sideNavigation-bg {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0;
            display: none;
            transition: 0.5s;
            background-color: #000;
            z-index: 2;
        }
        .sideNavigation {
            height: 100vh;
            width: 0;
            position: fixed;
            z-index: 3;
            top: 0;
            left: 0;
            background-color: $sideNavigation-BG;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;

            .pages {
                margin-top: 30px;
                & > a {
                    padding: 8px 8px 8px 32px;
                    @include text-style($Playfair-Display-font, $navigation-link-size, normal, 300, $navigation-link-size, 1px, $navigation-color, left);
                    display: block;
                    transition: 0.3s;
                    &:hover {
                        color: $navigation-hover;
                    }
                }
            }
            .close-btn {
                position: absolute;
                top: 30px;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
                color: $navigation-color;
                transition: 0.5s;
                &:hover {
                    color: $navigation-hover;
                }
            }
        }
    }
}

.cover-section {
    .parallax-bg {
        background-image: url("../images/cover-image.jpeg");
        min-height: 800px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .cover-wrapper {
            position: relative;
            .transparent-div {
                position: absolute;
                width: 100%;
                // min-height: 800px;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
            }
            .cover-elements {
                position: relative;
                .burger-menu-div {
                    @include display-flex;
                    width: 95%;
                    padding-top: 30px;
                    .empty {
                        width: 80%;
                    }
                    .burger-btn {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        @include display-flex(column, space-around, center);
                        .line {
                            width: 100%;
                            height: 3px;
                            background-color: #fff;
                        }
                    }
                }
                .img-logo {
                    max-width: 360px;
                    width: 100%;
                    height: auto;
                    display: block;
                    margin: 60px auto;
                }
                .heading-1 {
                    @include text-style($Playfair-Display-font, $heading-1-size, normal, bold, $heading-1-size, 0px, #fff, center);
                    width: 80%;
                    margin: 60px auto;
                }
                .cover-text {
                    @include text-style($Open-Sans, $paragraph-size-01, normal, 400, 26px, 0px, #fff, center);
                    width: 70%;
                    margin: 0px auto;
                }
                .img-triangle {
                    max-width: 120px;
                    width: 100%;
                    height: 100px;
                    display: block;
                    margin: 95px auto;
                }
            }
        }
    }
} 
.home-section {
    height: 600px;
    .home-section-wrapper {
        .home-section-heading {
            @include text-style($Open-Sans, $heading-6-size, normal, 500, $heading-6-size, 3px, #000, center);
            text-transform: uppercase;
        }
        .home-section-heading-3 {
            @include text-style($Playfair-Display-font, $heading-3-size, normal, 500, 60px, 1px, #000, center);
            margin: 30px auto;
            width: 85%;
        }
        .section-main-information {
            margin-top: 90px;
            @include display-flex(row, space-between, center);;
            .info-details-div {
                width: 426px;
                height: 426px;
                .img-info-details {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .info-details-heading-6 {
                    @include text-style($Open-Sans, $heading-6-size, normal, 400, $heading-6-size, 3px, #000, center);
                    text-transform: uppercase;
                    margin-top: 70px;
                }
                .info-details-heading-5 {
                    @include text-style($Playfair-Display-font, $heding-5-size, normal, bold, 30px, 0px, #000, center);
                    width: 80%;
                    margin: 25px auto;
                }
                .info-details-text {
                    @include text-style($Open-Sans, $paragraph-size-01, normal, 400, 25px, 0px, #000, center);
                    width: 80%;
                    margin: 0px auto;
                }
                .info-details-btn {
                    width: 110px;
                    height: 25px;
                    background: none;
                    border: none;
                    border-bottom: 2px solid #000;
                    letter-spacing: 2px;
                    padding: 1px;
                    display: block;
                    margin: 50px auto;
                    cursor: pointer;
                 &:hover {
                    border-bottom: 2px solid $hover-color;
                    color: $hover-color;
                }
                }
            }
        }
    }
    
}






}
