$navigation-color: #818181;
$navigation-hover: #f1f1f1;
$sideNavigation-BG: #111;

$hover-color: #a59797;
$menu-section-bg: #f2f2f2;
$menu-section-text-color: #414044;
$dots-color: #b3b3b3;
$dots-active-color: #e4e4e4;
