$navigation-color: #818181;
$navigation-hover: #f1f1f1;
$sideNavigation-BG: #111;

$hover-color: #a59797;
$menu-section-bg: #f2f2f2;
$menu-section-text-color: #414044;
$dots-color: #b3b3b3;
$dots-active-color: #e4e4e4;

$form-text-color: #888888;
$form-border-color: #b9b9b9;
$form-checkBox-color: #478ac9;
$input-labels-text-color: rgb(26, 25, 25);
$error-text-color: rgb(218, 61, 61);

$addresses-text-color: #888888;
$addresses-icon-color: rgb(70, 65, 65);

$footer-bg-color: #333333;
$social-network-hover-color: #5593cd;
