$container-size-x-lg: 1400px;
$container-size-lg: 992px;
$container-size-medium: 768px;
$container-size-small: 600px;

$navigation-link-size: 25px;

$heading-1-size: 60px;
$heading-2-size: 50px;
$heading-3-size: 48px;
$heading-4-size: 36px;
$heding-5-size: 24px;
$heading-6-size: 18px;

$paragraph-size-01: 16px;
$btn-text-size: 16px;

$image-grid-gap: 8px;
$image-grid-num-cols: 4;
$image-grid-row-height: 300px;